<h2 style="text-align:center;color:#6A7B90;text-shadow: 0 0 1px #6A7B90;">Gank!</h2>
<div style="text-align:left">
	<% if(user) { %><p>Hi, <%= user %>!</p><% } else { %><p>Hi!</p><% } %>
	<p>You are invited to join "<%= team %>"</p>
	<p><a href="<%= link %>" style="font-weight:bold;color:#6A7B90;text-shadow: 0 0 1px #6A7B90;">Join "<%= team %>"</a></p>
</div>