<h2 style="text-align:center;color:#88AF8C;text-shadow: 0 0 1px #6A7B90;">Atmospherica</h2>
<div style="text-align:left">
	<p>Hi, <%= user %>!</p>
	<p>Recently you asked for password recovery.</p>
	<p>Here's your new password <span style="font-weight:bold;color:#88AF8C;text-shadow: 0 0 1px #6A7B90;"><%= newpassword %></span></p>
	<p>You can change your password at <a href="http://atmospheri.ca/settings" style="text-decoration:none;color:#88AF8C;">profile settings</a></p>
</div>