<h2 style="text-align:center;color:#6A7B90;text-shadow: 0 0 1px #88AF8C;">Welcome to Atmospheri.ca!</h2>
<div style="text-align:left">
	<p>Hello, <%= user %>!</p>
	<p>I’m <a href="https://twitter.com/codytomcat" style="text-decoration:none;color:#6A7B90;">Cody</a>, founder of Atmospheri.ca, and I’m glad you’ve found us! Welcome to our corner of the internet.</p>
	<p>Since we launched recently, we will be very happy to hear your opinion about our small tool.</p>
	<p>
		We’re passionate about making your writing easy and awesome - feel free to reach out to me directly while you’re trying it out.
		<a href="https://twitter.com/atmoapp" style="text-decoration:none;color:#6A7B90;">Commenting on twitter</a> will be best!
	</p>
	<br/>
	<p>Cody<br/>founder of <a href="http://atmospheri.ca" style="text-decoration:none;color:#6A7B90;">Atmospheri.ca</a></p>
	<p>--</p>
	<p style="font-style: italic;">For urgent/tech questions, email through support@atmospheri.ca to reach the whole team. They'd love to say "hi" too!</p>
</div>