<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800|Open+Sans+Condensed:700,300,300italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>  
        <link href='http://atmospheri.ca/css/common.css' rel='stylesheet' type='text/css'> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://b42887fe10b1b8e5fb01-9c2f2595e7b5faefa3673608453677f9.r9.cf2.rackcdn.com/js/backstretch.js"></script>
        <script src="http://atmospheri.ca/js/common.js"></script>
        <script> $(function () { $.backstretch("http://atmospheri.ca/img/background.jpg", {fade: 750}) });</script>         
    </head>
    <body>
        <div class="status-box"></div>   
        <div class="wrapper-middle">
            <div class="overlay">
                <span class="logo"></span>
                <div id="signup-form" class="signup-form">
                    <p class="input-panel"><input type="text" placeholder="Full name" param="name"/></p>
                    <p class="input-panel"><input type="text" placeholder="Email" param="email"/></p>
                    <p class="input-panel"><input type="password" placeholder="Password" param="password"/></p>          
                    <p class="button-panel"><span class="btn btn-big" id="sign-butoon" atype="signup">Sign up</span></p>
                    <p class="sign-actions">
                        Already registered? <a href="/signin">Sign in here</a>
                        <p><a href="/forgot-password">forgot password?</a></p>
                    </p>
                </div>               
                <a class="icon-button-index feedback" href="http://twitter.com/atmoapp" target="blank"></a>
                <a class="icon-button-index more" href="/about"></a>
            </div>                
        </div>       
    </body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41974764-1', 'atmospheri.ca');
      ga('send', 'pageview');
    </script>   
</html>
